 <div class="card">
  <h2><%= (plant.watering_day).strftime("%Y年%m月%d日")%></h2>
  <% if plant.image.attached? %>
   <%= link_to image_tag(plant.image, class: :card__img ), edit_plant_path(plant.id) %>
  <% else %>
   <%= link_to image_tag("/assets/noimage.jpg", class: :card__img), edit_plant_path(plant.id) %>
  <% end %>
  <div class="card__body">
    <%= link_to "#{plant.plant_name}に水をあげる予定です。" , plant_path(plant.id), class: :card__title %>
  </div>

</div>
