<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">植物情報の編集</h2>
       <%= render partial: "form", locals: { plant: @plant } %>
    </div>
  </div>
</div>