<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、
         <%= link_to current_user.name, edit_user_registration_path(current_user.id), class: :greeting__link%>
        さん
      </div>
      <h1><%=Date.today.strftime("%Y年%m月%d日")%> 作業内容</h1>
      <div class="card__wrapper">
        <% @today_watering.each do |plant| %>
        <%= render partial: "watering", locals:{plant: plant} %>
      <% end %>
      </div>
      <% end %>
  </div>
</main>

